<div class="container col-md-12">
      <h1 class="page-header">User Registration</h1>
      <% resource = User.new %>
      <% resource.address = Address.new %>
      <%= form_for(resource, as: :user, url: registration_path(:user), html: { :id => "sign_up_user"}, :format => :json) do |f| %>
      

        <fieldset>

          <div class="form_fancy"><%= f.label :first_name %><br />
          <%= f.text_field :first_name, :required => true, class: "form-control" %></div>

          <div class="form_fancy"><%= f.label :last_name %><br />
          <%= f.text_field :last_name, :required => true, class: "form-control" %></div>

          <div id="" class="form_fancy">
            <%= "Address" %><br />
            <input id="autocomplete" onfocus="geolocate()" type="text" class="form-control"></input>
          </div>
           <%= f.fields_for :address do |a| %>
              <div class="form_fancy"><%= a.label :street %><br />
              <%= a.text_field :street, :required => true, class: "form-control", id: "route" %></div>
              <div class="form_fancy"><%= a.label :city %><br />
              <%= a.text_field :city, :required => true, class: "form-control", id: "locality" %></div>
              <div class="form_fancy"><%= a.label :country %><br />
              <%= a.text_field :country, :required => true, class: "form-control", id: "country" %></div>
              <div class="form_fancy"><%= a.label :zip_code %><br />
              <%= a.text_field :zip_code, :required => true, class: "form-control", id: "postal_code" %></div>
          <% end %>

          <div class="form_fancy"><%= f.label :email %><br />
          <%= f.email_field :email, :required => true, autofocus: true, class: "form-control" %></div>

          <div class="form_fancy"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
            <%= f.password_field :password, autocomplete: "off", :required => true, class: "form-control" %></div>

          <div class="form_fancy"><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", :required => true, class: "form-control" %></div>

            <br/>
          <div class="register-button pull-right">
             <%= f.submit "Submit", class: "btn btn-default" %>
          </div>

          <br/>
        </fieldset>
      <% end %>
</div>