<h1 class="ls-title-intro">
  <div class="row">
    <a href='<%= edit_user_registration_path %>'><div class="col-xs-12 col-md-6 tab-center ">
      <div class="col-xs-6 col-md-4 col-md-offset-4 bottom-border">
        <div class="bold-circle user"></div>
        <h5 class="bold tab-selected">USER DETAILS</h5>
      </div>  
    </div></a>
    <a href='<%= roles_path %>'><div class="col-xs-12 col-md-6 tab-center">
        <div class="col-xs-4 col-md-2 col-md-offset-5">
        <h5 class="bold tab-not-selected">ROLES</h5>
      </div>
    </div></a>
</h1>
  
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "ls-box ls-board-box"  }) do |f| %>
       
        <header class="ls-info-header">
          <h2 class="ls-title-3">User Details</h2>
        </header>
        <%= devise_error_messages! %>
        <fieldset>
            <div class="form_fancy"><%= f.label :first_name %><br />
            <%= f.text_field :first_name, :required => true, class: "input-field big" %></div>

            <div class="form_fancy"><%= f.label :last_name %><br />
            <%= f.text_field :last_name, :required => true, class: "input-field big" %></div>

            <div id="" class="form_fancy">
              <strong><%= "Address" %></strong><br />
              <input id="autocomplete" onfocus="geolocate()" type="text" class="input-field big"></input>
            </div>
            <%= f.fields_for :address do |a| %>
                <%= a.label :street %><br />
                <%= a.text_field :street, :required => true, class: "input-field big", id: "route" %>
                <div class="form_fancy"><%= a.label :city %><br />
                <%= a.text_field :city, :required => true, class: "input-field big", id: "locality" %></div>
                <div class="form_fancy"><%= a.label :country %><br />
                <%= a.text_field :country, :required => true, class: "input-field big", id: "country" %></div>
                <div class="form_fancy"><%= a.label :zip_code %><br />
                <%= a.text_field :zip_code, :required => true, class: "input-field big", id: "postal_code" %></div>
            <% end %>

            <div class="form_fancy" ><%= f.label :email %><br />
            <%= f.email_field :email, class: "input-field big" %></div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form_fancy"><%= f.label :current_password %> <i>(REQUIRED)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "input-field big" %></div>
              
            <div class="form_fancy"><%= f.label :password %> <i>(ONLY if you want to change password)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: "input-field big" %></div>

            <div class="form_fancy"><%= f.label :password_confirmation %><i>(ONLY if you want to change password)</i><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-field big" %></div><br /><br />

          

<!--             <%= f.fields_for :roles do |a| %>
              <header class="ls-info-header">
                <h2 class="ls-title-3"><b><%= a.object.company_name + ": " %></b><%= a.object.name %></h2>
              </header>
               
                <div class="form_fancy"><%= a.label :name %><br /><%= a.select :name, RankingFacilities::Application::ROLES_NAMES.inject([]){|acum, (key, value) | acum << value } ,{} ,:required => true, class: "form-control" %></div>
                <div class="form_fancy"><%= a.label :company_name %><br />
                <%= a.text_field :company_name, :required => true, class: "form-control" %></div>
                <div class="form_fancy"><%= a.label "VATID" %><br />
                <%= a.text_field :nif, :required => true, class: "form-control" %></div>
                <div class="form_fancy"><%= a.label :sector %><br /><%= a.select :sector, RankingFacilities::Application::SECTORS.inject([]){|acum, (key, value) | acum << value } ,{} ,:required => true, class: "form-control" %></div><br /><br />
                <%= a.hidden_field :id, :value => a.object.id %>

            <% end %> -->
            <%= f.hidden_field :id, :value => current_user.id %>

          <div class="update_user pull-right">
            <%= f.submit "Update", class: "ls-btn-lg ls-no-radius" %>
          </div>

        </fieldset>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-4">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "ls-box ls-board-box"  }) do |f| %>

          <fieldset>
      
              <header class="ls-info-header">
                <h2 class="ls-title-3">Deactivate Account</h2>
              </header>
              
              <div class="deactivate_useraccount">
                <p>Deactivating your account will disable your profile and remove your name and all your organizations from RakingOrganizations. Some information may still be visible to others, such as your organizations anonymous rating.</p>
              </div>
              <div class="update_user pull-right">
                <%= link_to "Deactivate my account", registration_path(resource_name), class: "ls-btn-sm ls-no-radius", data: { confirm: "Are you sure?" }, method: :delete %>
              </div>
          </fieldset>

        <% end %>
    </div>
  </div>
<br/>