<% if !user_signed_in? %>
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-xs-6 col-md-4 titulo">
                    <h3 class="ls-ico-chart-bar-up">Up<strong>Ranking</strong></h3>
                </div>
                <div class="col-md-offset-4 col-xs-6 col-md-4 intro-message">

                    <div class="col-md-offset-4 col-xs-6 col-md-4  btn-landing">
                        <%= link_to "REGISTER" do %>
                                    <a class="btn btn-default"
                                       data-toggle="modal"
                                       data-target="#myModalRegister"
                                       href="">Sign Up</a>
                                    <% end %>
                    </div>
                    <div class="col-xs-6 col-md-4  btn-landing">
                        <%= link_to "or LOG IN" do %>
                                <a class="btn"
                                       data-toggle="modal"
                                       data-target="#myModalLogin"
                                       href="users/sign_in">or Log In</a><% end %>
                    </div>

                </div>
                 <div class="modal custom fade" id="myModalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content clearfix">
                              <div class="modal-body">
                                 <%= render '/my_devise/registrations/form' %>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="modal custom login fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content clearfix">
                              <div class="modal-body">
                              </div>
                            </div>
                          </div>
                        </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

<!-- 	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="inner-section col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <h2 class="section-heading">Benchmark</h2>
                    <p class="lead">Exaustive and fastidious reports? Benchmark was never easyer! Now you can follow your facility performance through great dinamic graphic charts.</p>
                </div>
                <div class="content-section-a-image col-lg-5 col-lg-offset-2 col-sm-6"> 
                   
                </div>
            </div>

        </div> -->
        <!-- /.container -->

    <!-- </div> -->
    <!-- /.content-section-a -->

    <!-- <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="inner-section col-lg-5 col-sm-6">
                    
                    <h2 class="section-heading">Cloud-based</h2>
                    <p class="lead">Are you on a business trip? Are you </br> in some country with a different timezone? Now you can acess you organization data everywhere and anytime!</p>
                </div>
                <div class="inner-section col-lg-5 col-sm-pull-6  col-sm-6">
                   
                </div>
            </div>

        </div> -->
        <!-- /.container -->

    <!-- </div> -->
    <!-- /.content-section-b -->

    <!-- <div class="content-section-c">

        <div class="container">

            <div class="row">
                <div class="inner-section col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <h2 class="section-heading">Ranking</h2>
                    <p class="lead">How is your performance compared to you sector competitors? Can you do a better management? Now you can see for yourself!</p>
                </div>
                <div class="inner-section col-lg-5 col-lg-offset-2 col-sm-6">
                    
                </div>
            </div>

        </div> -->
        <!-- /.container -->

    </div>

<%= render 'layouts/footer' %>
<% else %>
    <%= render 'roles/roles_managing' %>
<% end %>
