<% content_for :verticalbar do %>
<div class="marketing"> 
            <div class="row">
                <div class="col-md-6">
                    <ul class="nav nav-list bs-docs-sidenav" role="tablist">
                        <li class="dropdown">
                            <a class="dropdown-toggle vertical-title" data-toggle="dropdown" href="#myModal">
                                <% if current_user.current_role != 0 %>
                                    <%= current_user.roles.find(current_user.current_role).name + ": " +  current_user.roles.find(current_user.current_role).company_name %> 
                                <% else %>
                                    <%= "Role Not Selected" %>
                                <% end %> 
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown " role="menu">
                                <% current_user.roles.each do |r| %>
                                       
                                       <li><%= link_to r.name + ": " + r.company_name, :controller => "/user_roles", :current_role => r.id, :action => 'update', :method => :put, :approved => true %></li>
                                <% end %>
                                <li class="divider"></li>
                                <li><%= link_to "Edit Roles", roles_path %></li>
                                <li class="divider"></li>
                                <li><%= link_to "Add Roles", new_role_path %></li>
                            </ul>
                        </li>   
                    </ul> 
                </div>
                <div class="col-md-6">

                        <%=  link_to image_tag("icon_60846.png", :class => "img-polaroid", :style => "width: 30%; height: 30%;" ), :controller => "/details", :action => 'index' %>

                        <%=  link_to image_tag( "icon_30982copy.png", :class => "img-polaroid", :style => "width: 30%; height: 30%;" ) %>

                        <%=  link_to  image_tag("icon_31048.png", :class => "img-polaroid", :style => "width: 30%; height: 20%;" ), :controller => "/indicators", :action => 'index' %>

                </div> 
            </div>
            <hr class="featurette-divider">     
            <ul class="nav nav-list bs-docs-sidenav">
                <% if current_user.current_role != 0 && current_user.roles.find(current_user.current_role).has_facilities? %> 
                    
                        <% current_user.roles.find(current_user.current_role).facilities.each do |f| %>         
                            <li><%= link_to f.name, facility_measures_path(f.id) %></li>
                        <% end %>
                    
                    
                    
                    
                <% else %>
                    <%= "There are no Roles selected." %>
                <% end %>
                <hr class="featurette-divider"> 
                <% if current_user.current_role != 0 %>
                    <li><%= link_to "+ Add Facility", new_role_facility_path(current_user.current_role) %></li>
                <% else %>
                    <li><%= link_to "+ Add Facility", error_role_empty_page_path %></li>
                <% end %>
            </ul>

        </div>
    <% end %>
