<style type="text/css">
${demo.css}
</style>
<script type="text/javascript">
$( document ).ready(
    function () {

    $('#<%=@v.object_id.to_s + "columnbasicsgraph" %>').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '<%= @v[:graph_name] %>'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ['<%= @v[:categories][0] %>', '<%= @v[:categories][1] %>', '<%= @v[:categories][2] %>']
        },
        yAxis: {
            min: 0,
            title: {
                text: '€/m2'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.4f} €/m2</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.1,
                borderWidth: 0
            }
        },
        series: [{
            name: '<%= @v[:first][:name] %>',
            data: <%= @v[:first][:values] %>,
            color: '#006699'

        }, {
            name: '<%= @v[:second][:name] %>',
            data:  <%= @v[:second][:values] %>,
            color: "#55b4b0"

        }, {
            name: '<%= @v[:third][:name] %>',
            data:  <%= @v[:third][:values] %>,
            color: '#0099ff'

        }]
    });
});
</script>
<div class="container col-md-12">
<div id='<%=@v.object_id.to_s + "columnbasicsgraph" %>' style="min-width: 290px; height: 400px; margin: 0 auto"></div>
<div class="container col-md-12 graph"><hr class="featurette-divider"><br /></div>
</div>