<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
$(function () {

    $('#<%=@v.object_id.to_s + "linecolumngraph" %>').highcharts({
        title: {
            text: '<%= @v[:my_facility_results][:name] + ": " + @v[:my_facility_results][:year].to_s %>'
        },
        xAxis: {
            categories: ['Quarter 1', 'Quarter 2', 'Quarter 3', 'Quarter 4']
        },
 
        labels: {
            items: [{
                html: '',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: '<%= @v[:my_facility_results][:facility_name] %>',
            data: <%= @v[:my_facility_results][:values] %>,
            color: '#61d0b3'
            
        }, {
            type: 'spline',
            name: 'Best Ranked Facility',
            data: <%= @v[:best_facility_results] %>,
            lineColor: '#3f003b',
            marker: {
                lineWidth: 3,
                lineColor: '#3f003b',
                fillColor: '#fcf4f4'
            }
        }
        ]
    });
});


</script>
<div class="container col-md-12">
    <div id='<%=@v.object_id.to_s + "linecolumngraph" %>' style="min-width: 290px; height: 400px; margin: 0 auto"></div>
    <div class="container col-md-12 graph"><hr class="featurette-divider"><br /></div>
</div>