
<h1 class="ls-title-intro ls-ico-dashboard"><%= @facility.name %> Benchmark Reports </h1>


	<%= search_form_for([@facility, @q], :url => facility_kpis_path, :method => "get") do |f| %>
	  	
			<%= f.label "Business Sector" %>
			<%= f.select :role_sector_cont, options_for_select(RankingFacilities::Application::SECTORS.inject([]){|acum, (key, value) | acum << value }) %>

			<%= label_tag "Year" %>
			<%= text_field_tag :year , "" %>
		  	<%= f.label "Country" %>
	  		<%= f.select :address_country_cont, options_for_select(RankingFacilities::Application::COUNTRY.inject([]){|acum, (key, value) | acum << value }) %>
	  		<%= f.label "City" %>
	  		<%= f.select :address_city_cont, options_for_select(RankingFacilities::Application::CITIES.inject([]){|acum, (key, value) | acum << value })%>


	  <%= submit_tag "Search", class: "btn btn-default pull-right"  %>

	<% end %>

<br/><br/><br/>

	<% year = params[:year] || '' %>
	<div class="indicators_graph col-md-12 pull-left">
	
	<% @v = @facility.internal_work_cost(year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_internal_work_cost(year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.water_consumption_fte(year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_water_consumption_fte(year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>


	<% @v = @facility.capacity_vs_utilization(year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_capacity_vs_utilization(year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.space_experience(year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_space_experience(year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.energy_consumption(year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_energy_consumption(year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.cleaning_cost_nfa(year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_cleaning_cost_nfa(year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.space_cost_nfa(year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_space_cost_nfa(year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.occupancy_cost_nfa(year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_occupancy_cost_nfa(year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.costs_year %>
	<%= render 'columnbasicsgraph', @v %>

	</div>


	
	<script src="/assets/exporting.js"></script>
