
<div class="form_facility col-md-12">
	<h1 class="page-header"><%= @facility.name %>  Benchmark Reports</h1>

	<div class="well col-md-12">

	<%= search_form_for([@facility, @q], :url => facility_kpis_path, :method => "get") do |f| %>
	  	
			<%= f.label "Business Sector" %>
			<%= f.select :role_sector_cont, options_for_select(RankingFacilities::Application::SECTORS.inject([]){|acum, (key, value) | acum << value }) %>

			<%= label_tag "Year" %>
			<%= text_field_tag :year , "" %>
		  	<%= f.label "Country" %>
	  		<%= f.select :address_country_cont, options_for_select(RankingFacilities::Application::COUNTRY.inject([]){|acum, (key, value) | acum << value }) %>
	  		<%= f.label "City" %>
	  		<%= f.select :address_city_cont, options_for_select(RankingFacilities::Application::CITIES.inject([]){|acum, (key, value) | acum << value })%>


	  <%= submit_tag "Search", class: "btn btn-default pull-right"  %>

	<% end %>
	</div>
	<% year = params[:year] || '' %>
	<div class="indicators_graph col-md-12 pull-left">
	
	<% @v = @facility.kpi_query(:iwc, @facility, year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_kpi_query(:iwc, year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.kpi_query(:wc_fte, @facility, year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_kpi_query(:wc_fte, year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.kpi_query(:ec_nfa, @facility, year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_kpi_query(:ec_nfa, year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.kpi_query(:cc_nfa, @facility, year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_kpi_query(:cc_nfa, year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.kpi_query(:sc_nfa, @facility, year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_kpi_query(:sc_nfa, year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.kpi_query(:oc_nfa, @facility, year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_kpi_query(:oc_nfa, year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.kpi_query(:cu, @facility, year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_kpi_query(:cu, year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>

	<% @v = @facility.kpi_query(:se, @facility, year) %>
	<%= render 'graph', @v %>
	<% unless @all_facilities.empty? %>
		<% @v = @facility.best_kpi_query(:se, year, @all_facilities) %>
		<%= render 'linecolumnchart', @v %>
	<% end %>
	<% @v = @facility.costs_year %>
	<%= render 'columnbasicsgraph', @v %> 

	</div>


	
	<script src="/assets/exporting.js"></script>

</div>