<%= form_for(@role,  html: { class: "ls-box ls-board-box"  }) do |f| %>
  <header class="ls-info-header">
    <h2 class="ls-title-3">Role Details</h2>
  </header>
  <% if @role.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form_fancy">
      <%= f.label "Role Name" %> <br>
      <%= f.select :name, RankingFacilities::Application::ROLES_NAMES.inject([]){|acum, (key, value) | acum << value } , {} ,:required => true, class: "form-control ls-no-radius" %>
    </div>

    <div class="form_fancy"><%= f.label "Company Name" %><br />
      <%= f.text_field :company_name, :required => true, class: "form-control ls-no-radius" %></div>

    <div class="form_fancy"><%= f.label "Company Nif" %><br />
      <%= f.text_field :nif, :required => true, class: "form-control ls-no-radius" %></div>

    <div class="form_fancy"><%= f.label :sector %><br />
      <%= f.select :sector, RankingFacilities::Application::SECTORS.inject([]){|acum, (key, value) | acum << value } , {} ,:required => true, class: "form-control ls-no-radius" %>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    
    <div class="form_fancy pull-right">
      <%= f.submit " Save ", class: "ls-btn-primary ls-btn-lg ls-no-radius" %>
    </div>
  </fieldset>
<% end %>    