<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form_fancy">
      <%= f.label "Role Name" %> <br>
      <%= f.select :name, @roles_names.inject([]){|acum, (key, value) | acum << value } , {} ,:required => true, class: "form-control" %>
    </div>

    <div class="form_fancy"><%= f.label "Company Name" %><br />
      <%= f.text_field :company_name, :required => true, class: "form-control" %></div>

    <div class="form_fancy"><%= f.label "Company Nif" %><br />
      <%= f.text_field :nif, :required => true, class: "form-control" %></div>

    <div class="form_fancy"><%= f.label :sector %><br />
      <%= f.select :sector, @roles_sector.inject([]){|acum, (key, value) | acum << value } , {} ,:required => true, class: "form-control" %>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    
    <div class="update_user pull-right">
      <%= f.submit "Save", class: "btn btn-default" %>
    </div>
  </fieldset>
<% end %>
