
  <%= form_for([@facility, @facility_static_measure], html: {class: "ls-box ls-board-box"}) do |f| %>
      <header class="ls-info-header">
        <h2 class="ls-title-3">Static Metric Details</h2>
      </header>
    <% if @facility_static_measure.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@facility_static_measure.errors.count, "error") %> prohibited this facility_static_measure from being saved:</h2>

        <ul>
        <% @facility_static_measure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
    <div class="form_fancy">
        <%= f.label "Name" %> <br>
        <%= f.select :name, RankingFacilities::Application::ATTRIBUTES_NAMES.inject([]){|acum, (key, value) | acum << value } , {} ,:required => true, class: "select big" %>
    </div>
    <div class="form_fancy">
      <%= f.label :value %><br>
      <%= f.text_field :value, class: "input-field big" %>
    </div>
    <div class="row">
      <div class="form_fancy col-md-3">
        <%= f.label :start_date %><br>
        <%= f.bootstrap_date :start_date %>
      </div>
      <div class="form_fancy col-md-3">
        <%= f.label :end_date %><br>
        <%= f.bootstrap_date :end_date %>
      </div>
    </div>
    
    <% if @action[:action] == 'new' %>
      <%= f.hidden_field :facility_id, :value => @action[:facility].id %>
    <% end %>
    
    <%= f.hidden_field :user_id, :value => current_user.id %>
<!--     <div class="pull-left">
      <% if @action[:action] == 'new' %>
        <td><%= link_to 'Static Metrics List', facility_facility_static_measures_path(@facility), class: "ls-btn ls-no-radius" %></td>
      <% else %>
        <td><%= link_to 'Static Metrics List', facility_facility_static_measures_path(@facility_static_measure.facility_id), class: "ls-btn ls-no-radius" %></td>
      <% end %>
    </div> -->
    <div class="pull-right">
      <%= f.submit "Save", class: "ls-btn ls-no-radius"  %>
    </div>
    </fieldset>
  <% end %>
