
<h1 class="ls-title-intro ls-ico-list2"><%= Facility.find_by_id(params[:facility_id]).name %> Static Metrics <%= link_to "", new_facility_facility_static_measure_path(params[:facility_id]), class: "ls-ico-plus pull-right" %></h1>

  <%= search_form_for [@facility, @q]  do |f| %>

    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>

    <%= f.label "From" %>
    <%= f.bootstrap_date :start_date_gteq %>

    <%= f.label "Untill" %>
    <%= f.bootstrap_date :end_date_lteq %>

    <%= f.submit "Search", class: "ls-btn ls-no-radius pull-right"%>
  <% end %>



  <table class="ls-table">
    <thead>
      <tr class="table-measures-head">
        <th>Name</th>
        <th>Value</th>
        <th>Start date</th>
        <th>End date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @facility_static_measures.each do |facility_static_measure| %>
        <tr>
          <td><%= facility_static_measure.name %></td>
          <td><%= facility_static_measure.value %></td>
          <td><%= facility_static_measure.start_date %></td>
          <td><%= facility_static_measure.end_date %></td>
          <td><%= link_to 'Edit', edit_facility_static_measure_path(facility_static_measure), class: "titulo-azul" %></td>
          <td><%= link_to 'Destroy', facility_static_measure, method: :delete, data: { confirm: 'Are you sure?' }, class: "titulo-azul" %></td>

        </tr>
      <% end %>
      <!-- <tr><%= render 'new_form' %></tr> -->
    </tbody>
  </table>

  <br>

