<div class="form_facility col-md-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility_static_measure.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @facility_static_measure.value %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @facility_static_measure.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @facility_static_measure.end_date %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @facility_static_measure.facility_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @facility_static_measure.user_id %>
</p>

</div>