<h1 class="ls-title-intro">
  <div class="row">
    <a href='<%= edit_facility_path(@facility.id) %>'><div class="col-xs-6 col-md-4 tab-center ">
      <h5 class="bold tab-not-selected">DETAILS</h5>
    </div></a>
    <a href=''><div class="col-xs-6 col-md-4 tab-center">
      <div class="col-xs-9 col-md-7 col-md-offset-2 bottom-border">
        <div class="bold-circle measures"></div>
        <h5 class="bold tab-selected">MEASUREMENTS</h5>
      </div>
    </div></a>
    <a href='<%= facility_kpis_path(@facility.id) %>'><div  class="col-xs-6 col-md-4 tab-center">
      <h5 class="bold tab-not-selected">REPORTS</h5>
    </div></a>
  </div>
</h1>
<!-- <h1 class="ls-title-intro ls-ico-bars"><%= @facility.name %> Metrics <%= link_to '', new_facility_measure_path(params[:facility_id]), class: "ls-ico-plus pull-right" %></h1> -->


<!--   <div class="row ls-box ls-board-box">
    <header class="ls-info-header">
        <h2 class="ls-title-3 ls-ico-cloud-upload">Import Metrics</h2>
    </header>
    <div class="import_explanation col-md-6">
      <p> A CSV or Excel file can be used to import Measures. </p>
      <p> The columns of the file should be in this order:</p>
      <p> <strong>name</strong> - String Type </p>
      <p> <strong>value</strong> - Float Type </p>
      <p> <strong>start_date</strong> - Date Type </p>
      <p> <strong>end_date</strong> - Date Type </p>
    </div>
    <div class="form_fancy col-md-3 pull-right">  
      <br/>
      <br/>
      <%= form_tag import_facility_measures_path(params[:facility_id]), multipart: true do %>

      <div class="form_fancy"><%= file_field_tag :file %></div>
      <div class="form_fancy"><%= submit_tag "Import" , class: "ls-btn ls-no-radius"%></div>
    <% end %>
    </div>

  </div>
 -->
  <%= search_form_for [@facility, @q]  do |f| %>
    <div class="row">
      <div class="col-xs-6 col-md-4 tab-center">
      <%= f.label :name_cont %>
      <%= f.search_field :name_cont, class: "input-field" %>
      </div>
      <div class="col-xs-6 col-md-4 tab-center">
      <%= f.label "From:  " %>
      <%= f.bootstrap_date :start_date_gteq %>
      </div>
      <div class="col-xs-6 col-md-4 tab-center">
      <%= f.label "Untill:  " %>
      <%= f.bootstrap_date :end_date_lteq %>
      </div>
    </div>
<!--     <%= f.submit "Search", class: "btn btn-default pull-right"  %> -->
  <% end %>


  <br/>
  
  <div class="row bottom-border">
    
      <a href='<%= link_to '', new_facility_measure_path(params[:facility_id]) %>'><h1 class="ls-btn-primary ls-no-radius ls-ico-plus pull-right">Add</h1></a>

      <a title="Import Metrics" class=" pull-right" data-ls-module="popover" 
          data-content='<div class="row col-xs-29 col-md-18 ls-box ls-board-box">
                          <header class="ls-info-header">
                              <h2 class="ls-title-3 ls-ico-cloud-upload">Import Metrics</h2>
                          </header>
                          <div class="import_explanation">
                            <p> A CSV or Excel file can be used to import Measures. </p>
                            <br/>
                            <br/>
                            <p> The columns of the file should be in this order:</p>
                            <div class="pull-right">
                              <p> <strong>name</strong> - String Type </p>
                              <p> <strong>value</strong> - Float Type </p>
                              <p> <strong>start_date</strong> - Date Type </p>
                              <p> <strong>end_date</strong> - Date Type </p>
                              
                              <br/>
                            </div>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <div class="row">
                              <%= form_tag import_facility_measures_path(params[:facility_id]), multipart: true do %>

                              <div class="form_fancy col-md-6"><%= file_field_tag :file %></div>
                              <div class="form_fancy col-md-3" style="margin-left: 50px;"><%= submit_tag "Import" , class: "ls-btn ls-no-radius"%></div>
                              <% end %>
                            </div>
                          </div>

                        </div>' data-placement="left"><h1 class="titulo-azul ls-btn ls-no-radius ls-ico-cloud-upload pull-right">Import</h1></a>
                   
  </div>                      
  
  <table class="ls-table table-top-border">
    <thead>
      <tr>
          <th></th>
        <!-- Retorna o nome das measures por ordem alfabética -->
        <% RankingFacilities::Application::METRIC_NAMES.values.sort.each do |measure_name| %>
          <th class="table-measures-head"><%= measure_name %></th>
        <% end %>
        
      </tr>
    </thead>

    <tbody>
      <!-- @measures.group_by{ |x| [x.start_date.month, x.start_date.year] }.sort retorna as measures por ano e mês de inicio, por ordem de satrt_date, como o exemplo abaixo       
      [[[1, 2015],
        [#<Measure id: 13, name: "Water Consumption", value: 361580.0, start_date: "2015-01-01", end_date: "2015-01-31", facility_id: 1, user_id: 1, created_at: "2015-04-23 19:16:23", updated_at: "2015-04-23 19:16:23">,
         #<Measure id: 61, name: "Total Space Cost", value: 23468.0, start_date: "2015-01-01", end_date: "2015-01-31", facility_id: 1, user_id: 1, created_at: "2015-04-23 19:16:33", updated_at: "2015-04-23 19:16:33">,
         #<Measure id: 25, name: "Total Cleaning Cost", value: 257895.6, start_date: "2015-01-01", end_date: "2015-01-31", facility_id: 1, user_id: 1, created_at: "2015-04-23 19:16:25", updated_at: "2015-04-23 19:16:25">,
         #<Measure id: 49, name: "Total Labour Costs", value: 899961.3, start_date: "2015-01-01", end_date: "2015-01-31", facility_id: 1, user_id: 1, created_at: "2015-04-23 19:16:30", updated_at: "2015-04-23 19:16:30">,
         #<Measure id: 73, name: "Total Occupancy Cost", value: 45732.0, start_date: "2015-01-01", end_date: "2015-01-31", facility_id: 1, user_id: 1, created_at: "2015-04-23 19:16:35", updated_at: "2015-04-23 19:16:35">,
         #<Measure id: 37, name: "Actual Expenses", value: 1156559.0, start_date: "2015-01-01", end_date: "2015-01-31", facility_id: 1, user_id: 1, created_at: "2015-04-23 19:16:28", updated_at: "2015-04-23 19:16:28">,
         #<Measure id: 1, name: "Energy Consumption", value: 5287.0, start_date: "2015-01-01", end_date: "2015-01-31", facility_id: 1, user_id: 1, created_at: "2015-04-23 19:16:20", updated_at: "2015-04-23 19:16:20">]],
       [[2, 2015], -->
      <% @measures.group_by{ |x| [x.start_date.year, x.start_date.month] }.sort.each do |measures_by_monthyear| %>
          <% i=0 %>
          <tr>
          <td class="date-celula"><%=  Date::MONTHNAMES[measures_by_monthyear.first.second] %><br/><small><%= measures_by_monthyear.first.first %></small></td>
            <% measures_by_monthyear.last.sort_by{ |m| m[:name]}.each do |measure_alphabetically| %>
            
              <% while (measure_alphabetically.name != RankingFacilities::Application::METRIC_NAMES.values.sort[i]) %>
                  <td class="measure-celula">
                    
                    <%= link_to 'Add Metric', new_facility_measure_path, class: "ls-btn ls-no-radius" %><br/><br/>
                    
                  </td>
                   <% i = i+1 %>
              <% end %>
                <td class="measure-celula">
                 
                  <a href="#" class="ls-btn ls-no-radius" data-ls-module="popover" title="Edit" 
                  data-content='<%= link_to 'Edit', edit_measure_path(measure_alphabetically), class: "ls-btn-primary ls-no-radius" %><%= link_to 'Destroy', measure_alphabetically, method: :delete, data: { confirm: 'Are you sure?' }, class: "ls-btn-primary ls-no-radius" %>' >
                  <%= measure_alphabetically.value %><br/><br/>
                  <small><%= Date.parse(measure_alphabetically.start_date.to_s).strftime("%m/%d")%>-<%= Date.parse(measure_alphabetically.end_date.to_s).strftime("%m/%d") %></small></a>
                </td>
                <% i = i+1 %>
            <% end %>
            <% if i==6 %>
            <td class="measure-celula">
                    
                    <%= link_to 'Add Metric', new_facility_measure_path, class: "ls-btn ls-no-radius" %><br/><br/>
                    
                  </td>
            <% end %>
        </tr>
      <% end %>

    </tbody>
  </table>

<!--   <div class="row ls-box ls-board-box">
    <header class="ls-info-header">
        <h2 class="ls-title-3 ls-ico-plus">Add New Metric</h2>
    </header>
    <%= render 'new_form' %>
  </div> -->
  <br>

