<div class="form_facility col-md-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @measure.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @measure.value %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @measure.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @measure.end_date %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @measure.unit %>
</p>

<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>
</div>