
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @measure.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @measure.value %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @measure.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @measure.end_date %>
</p>
