<!DOCTYPE html>
<html class="ls-theme-orange">
	<head >
	  <title>UpRanking</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  
		<meta charset="utf-8">
	    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	    <meta name="description" content="Insira aqui a descrição da página.">

	    <style>
	      html, body, #map-canvas {
	        height: 100%;
	        margin: 0px;
	        padding: 0px
	      }
	    </style>

	    <link href="http://assets.locaweb.com.br/locastyle/3.7.2/stylesheets/locastyle.css" rel="stylesheet" type="text/css">
	    <link rel="icon" sizes="192x192" href="/locawebstyle/assets/images/ico-boilerplate.png">
	    <link rel="apple-touch-icon" href="/locawebstyle/assets/images/ico-boilerplate.png">
	    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	  	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
		<script>
		    // This example displays an address form, using the autocomplete feature
		    // of the Google Places API to help users fill in the information.

		    var placeSearch, autocomplete;
		    var componentForm = {
		        // street_number: 'short_name',
		        route: 'long_name',
		        locality: 'long_name',
		        // administrative_area_level_1: 'short_name',
		        country: 'long_name',
		        postal_code: 'short_name'
		    };

		    function initialize() {
		        // Create the autocomplete object, restricting the search
		        // to geographical location types.
		        autocomplete = new google.maps.places.Autocomplete(
		            /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
		            { types: ['geocode'] });
		       
		        // When the user selects an address from the dropdown,
		        // populate the address fields in the form.
		        google.maps.event.addListener(autocomplete, 'place_changed', function () {
		            fillInAddress();
		        });
		    }
		    // [START region_fillform]
		    function fillInAddress() {
		        // Get the place details from the autocomplete object.
		        var place = autocomplete.getPlace();

		        for (var component in componentForm) {
		            document.getElementById(component).value = '';
		            document.getElementById(component).disabled = false;
		        }

		        // Get each component of the address from the place details
		        // and fill the corresponding field on the form.
		        for (var i = 0; i < place.address_components.length; i++) {
		            var addressType = place.address_components[i].types[0];
		            if (componentForm[addressType]) {
		                var val = place.address_components[i][componentForm[addressType]];
		                document.getElementById(addressType).value = val;

		            }
		        }
		    }
		    // [END region_fillform]

		    // [START region_geolocation]
		    // Bias the autocomplete object to the user's geographical location,
		    // as supplied by the browser's 'navigator.geolocation' object.
		    function geolocate() {
		        if (navigator.geolocation) {
		            navigator.geolocation.getCurrentPosition(function (position) {
		                var geolocation = new google.maps.LatLng(
		                    position.coords.latitude, position.coords.longitude);
		                var circle = new google.maps.Circle({
		                    center: geolocation,
		                    radius: position.coords.accuracy
		                });
		                autocomplete.setBounds(circle.getBounds());
		            });
		        }
		    }

		</script>
	  </head>
  <body onload="initialize() ">
  	<% if user_signed_in? %>
    <div class="ls-topbar">

      <!-- Notification bar -->
      <div class="ls-notification-topbar">
        <!-- Nome da Role Actual -->
        <div class="ls-alerts-list">
          <% if current_user.current_role != 0 %>
                
         <!--        <a href="" class="btn roles-button" >
	            	
	          	</a> -->
	          	<%= link_to edit_role_path(current_user.current_role)  do %>
	          		<%= current_user.roles.find(current_user.current_role).company_name %><br/>
                	<small class="pull-right"><%= current_user.roles.find(current_user.current_role).name %></small> 
	          	<% end %>
          <% else %>
                <%= "Select a Role " %>
          <% end %>
        </div>

        <!-- User details -->
        <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
          <a href="#" class="ls-ico-user">
            <%= current_user.full_name %>
          </a>
          <nav class="ls-dropdown-nav ls-user-menu">
            <ul>
              <li><%= link_to "Edit User Account", edit_user_registration_path %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- <span class="ls-show-sidebar ls-ico-menu"></span> -->

      <!-- Nome do produto/marca -->
      <h1 class="ls-brand-name"><a class="ls-ico-chart-bar-up" href="/">UpRanking</a></h1>
    </div>

    <!-- Container da pagina principal: yield -->
    <main class="ls-main ">
    	<% flash.each do |type, message| %>
	            <div class="alerts alert <%= flash_class type %>">
	              <button class="close" data-dismiss="alert">X</button>
	              <%= message %>
	            </div>
	    <% end %>
    	<div class="container-fluid" >    	
      		<%= yield %>
     	</div>
    </main>

    <!-- Barra Lateral Esquerda -->
    <aside class="ls-sidebar">

      <div class="ls-sidebar-inner">
	    <nav class="ls-menu">
	      <ul>
	        <li class="ls-submenu">
	          <a href="#" class="ls-ico-list3">Details</a>
	          <ul role="menu">
	            	<% if current_user.current_role != 0 && current_user.roles.find(current_user.current_role).has_facilities? %> 
	                    
	                        <% current_user.roles.find(current_user.current_role).facilities.each do |f| %>         
	                            <%= link_to f.name, edit_facility_path(f.id) %>
	                        <% end %> 
	                <% else %>
	                    <li><a class="ls-submenu-item" href="#">No Facilities</a></li>
	                <% end %>
	          </ul>
	        </li>
	        <li class="ls-submenu">
	          <a href="#" class="ls-ico-bars">Metrics</a>
	          <ul role="menu">
	            	<% if current_user.current_role != 0 && current_user.roles.find(current_user.current_role).has_facilities? %> 
	                    
	                        <% current_user.roles.find(current_user.current_role).facilities.each do |f| %>         
	                            <%= link_to f.name, facility_measures_path(f.id) %>
	                        <% end %> 
	                <% else %>
	                    <li><a class="ls-submenu-item" href="#">No Facilities</a></li>
	                <% end %>
	          </ul>
	        </li>
	        <li class="ls-submenu">
	          <a href="#" class="ls-ico-dashboard">Reports</a>
	          <ul role="menu">
		          	<% if current_user.current_role != 0 && current_user.roles.find(current_user.current_role).has_facilities? %> 
	                    
	                        <% current_user.roles.find(current_user.current_role).facilities.each do |f| %>         
	                            <%= link_to f.name, facility_kpis_path(f.id), class: "ls-submenu-item" %>
	                        <% end %> 
	                <% else %>
	                    <li><a class="ls-submenu-item" href="#">No Facilities</a></li>
	                <% end %>
	          </ul>
	        </li>

	        <% if current_user.current_role != 0 %>
                <li><%= link_to "Add Facility", new_role_facility_path(current_user.current_role), class: "ls-ico-plus" %></li>
            <% end %>
	      </ul>

	    </nav>
	  </div>
    </aside>

    <% else %>
			   
			<%= yield %>

	<% end %>

    <script src="http://assets.locaweb.com.br/locastyle/3.7.2/javascripts/locastyle.js" type="text/javascript"></script>
</html>