<!DOCTYPE html>
<html>
	<head>
	  <title>UpRanking</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

		<div class="row">
			<% if user_signed_in? %>
				<%= render 'layouts/navbar' %>	
			    <%= render 'layouts/navbarVertical' %>	
			    <div class="container-fluid col-md-9 col-md-offset-3 body-container">

			        <p class="notice"><%= notice %></p>
			        <p class="alert"><%= alert %></p>

			        <%= yield %>
			    </div>
			 <% else %>
			   	<%= render 'layouts/navbar' %>	
			    <%= yield %>
			<% end %>
			
		</div>
		
		<div class="row">
			<% if user_signed_in? %>
				<div class="container-fluid col-md-9 col-md-offset-3 marketing">
			         <%= render 'layouts/footer' %>
		    	 </div>
	    	<% else %>
	    		<div class="container-fluid marketing">
		        	 <%= render 'layouts/footer' %>
	    		 </div>
			<% end %>
    	 </div>
	</body>
</html>
